h1{
    text-align: center;
    font-size: 3rem;
    font-weight: 900;
    color: var(--text-primary-color);
}
p{
    text-align: center;
    font-size: medium;
    font-weight: 500;
    color: var(--text-primary-color);
}

button:hover{
    background-color: var(--focus-primary-color);
}
.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
}
.header-info{
    margin-inline: auto;
    margin-block: 2rem;
    width: 70%;
}
.pages-buttons{
    display: flex;
    gap: 20px;
}