.header-txt-box > span{
    font-weight: 600;
    font-size: 1.2rem;
}
.header-txt-box > p{
    color: var(--paragraph-secondary-color)
}
.input-box {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}
input{
    padding: 7px 5px;
    border: 2px solid var(--text-primary-color);
    outline: none;
    border-radius: 5px;
}

.calculate-box{
    display: flex;
    justify-content: space-between;
}
.ans-txt{
    font-weight: 600;
}
.ans-txt > span{
    color: var(--primary-color);
}